*.egg-info
*.mo
*.pyc
*.pyo
*#*
*~
/.DS_Store
/.installed.cfg
/.mr.developer.cfg
/.project
/.pydevproject
/bin/
/coverage/
/develop-eggs/
/devsrc/
/dist/
/downloads/
/eggs/
/include/
/karma/
/lib/
/lib64
/node_modules/
/package-lock.json
/parts/
/pyvenv.cfg
/share/
/var/