*#*
*.egg-info
*.mo
*.pyc
*.pyo
*~
/.DS_Store
/.installed.cfg
/.mr.developer.cfg
/.project
/.pydevproject
/coverage/
/bin/
/develop-eggs/
/dist/
/downloads/
/eggs/
/parts/
/var/
/devsrc/
/include/
/lib/
/share/
