/* yafowil.widget.dict - bootstrap theme styles */
.dictwidget .icon-plus-sign,
.dictwidget .icon-minus-sign,
.dictwidget .icon-circle-arrow-up,
.dictwidget .icon-circle-arrow-down {
    display:inline-block;
    font-family:'yafowil-fontello';
    font-style:normal;
    font-weight:400;
    font-variant:normal;
    text-transform:none;
    text-decoration:none;
    text-align:center;
    line-height:1em;
    position:relative;
    top:1px;
    width:1em;
    margin-right:2px;
    margin-left:2px;
    speak:none;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
.dictwidget .icon-plus-sign:before {
    font-family:'yafowil-fontello';
    content:"\e800";
}
.dictwidget .icon-minus-sign:before {
    font-family:'yafowil-fontello';
    content:"\e801";
}
.dictwidget .icon-circle-arrow-up:before {
    font-family:'yafowil-fontello';
    content:"\e803";
}
.dictwidget .icon-circle-arrow-down:before {
    font-family:'yafowil-fontello';
    content:"\e802";
}
.dictwidget {
    margin-bottom:0;
    border:none;
    background:transparent;
}
.dictwidget tr,
.dictwidget td {
    border:none;
}
.dictwidget th {
    border:none;
    border-bottom:#ddd 2px solid;
    vertical-align:middle;
}
.dictwidget th.actions,
.dictwidget td.actions {
    width:6.5em;
}
.dictwidget  td {
	padding-top:0.5em;
}
.dict_actions {
    display:inline-block;
    margin-top:0.3em;
    padding-right:0.45em;
    width:6.5em;
}
.dict_actions a {
    float:right;
}
.dict_actions a.array_row_up_disabled,
.dict_actions a.array_row_down_disabled {
    opacity:0.4;
    filter:alpha(opacity=40);
}